[submodule "callibration/camera_imu_cal_ws/src/kalibr"]
	path = callibration/camera_imu_cal_ws/src/kalibr
	url = https://github.com/ethz-asl/kalibr.git
[submodule "slam_deployment/VINS-Fusion-ROS2"]
	path = slam_deployment/VINS-Fusion-ROS2
	url = https://github.com/SaxionMechatronics/VINS-Fusion-ROS2
[submodule "slam_deployment/FAST_LIO_ROS2"]
	path = slam_deployment/FAST_LIO_ROS2
	url = https://github.com/SaxionMechatronics/FAST_LIO_ROS2.git
[submodule "slam_deployment/LeGO-LOAM-ROS2"]
	path = slam_deployment/LeGO-LOAM-ROS2
	url = https://github.com/SaxionMechatronics/LeGO-LOAM-ROS2.git
[submodule "callibration/Lidar_imu_cal_ws/src/LiDAR_IMU_Init"]
	path = callibration/Lidar_imu_cal_ws/src/LiDAR_IMU_Init
	url = https://github.com/hku-mars/LiDAR_IMU_Init.git
